body {
    margin: 0px;
    padding: 0px;
    font-size: 1vw;
}

.header_main h1 {
    margin: 0;
    margin-top: 10px;
    letter-spacing: 5px;
}

.header_main {
    text-align: left;
}

.header_contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    box-shadow:  1px 1px 1px rgb(231, 231, 231);
}

.header_under {
    background-color: rgb(29, 29, 29);
    height: 30vw;
    margin-bottom: 50px;
}

